/* Zera a margem e o padding de todos os elementos, e define o modelo de box-sizing como border-box para todos os elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estiliza o corpo da página */
body {
  font-family: "Courier New", Courier, monospace; /* Define a fonte da página */
  background-color: #0b0b0b; /* Define a cor de fundo da página */
  color: rgba(0, 255, 255, 0.6); /* Define a cor do texto padrão para um tom azulado com opacidade */
  display: flex; /* Utiliza flexbox para o layout */
  flex-direction: column; /* Define a direção do flexbox como coluna */
  justify-content: space-between; /* Espaça os itens igualmente no eixo principal */
  align-items: center; /* Centraliza os itens no eixo transversal */
  min-height: 100vh; /* Define a altura mínima como a altura da janela de visualização */
  margin: 0;
  padding: 0;
  position: relative;
}

/* Estiliza o canvas para o efeito de chuva */
#matrix-canvas {
  position: fixed; /* Fixa o canvas na posição especificada */
  top: 0;
  left: 0;
  width: 100%; /* Faz o canvas ocupar toda a largura da tela */
  height: 100%; /* Faz o canvas ocupar toda a altura da tela */
  z-index: 1; /* Define a ordem do stack para que fique atrás do conteúdo */
}

/* Estiliza o container principal do conteúdo */
.matrix-content {
  width: 100%;
  max-width: 600px; /* Define a largura máxima do container */
  background-color: rgba(0, 0, 0, 0.8); /* Define uma cor de fundo preta com opacidade */
  padding: 20px; /* Adiciona padding ao redor do conteúdo */
  border-radius: 10px; /* Arredonda os cantos do container */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao container */
  z-index: 2; /* Define a ordem do stack para que fique acima do canvas */
  position: relative;
}

/* Estiliza o cabeçalho */
header {
  text-align: center; /* Centraliza o texto do cabeçalho */
  margin-bottom: 20px; /* Adiciona margem inferior */
}

h1, h2 {
  margin-bottom: 10px; /* Adiciona margem inferior aos títulos */
}

/* Estiliza a área principal */
.main {
  display: flex; /* Utiliza flexbox para o layout */
  justify-content: center; /* Centraliza os itens no eixo principal */
  align-items: center; /* Centraliza os itens no eixo transversal */
  border-radius: 10px; /* Arredonda os cantos da área principal */
  margin: 20px; /* Adiciona margem ao redor da área principal */
  background-color: rgba(51, 51, 51, 0.945); /* Define uma cor de fundo escura com opacidade */
  padding: 20px; /* Adiciona padding ao redor do conteúdo */
}

/* Estiliza o container do conversor */
.converter-container {
  width: 100%;
}

/* Estiliza os grupos de input e output */
.input-group, .output-group {
  margin: 10px 0; /* Adiciona margem vertical aos grupos */
}

/* Estiliza os labels */
label {
  margin-bottom: 5px; /* Adiciona margem inferior ao label */
  color: #0FF; /* Define a cor do label para um tom azulado */
}

/* Estiliza os inputs, selects e botões */
input, select, button {
  padding: 10px; /* Adiciona padding aos elementos */
  border-radius: 5px; /* Arredonda os cantos dos elementos */
  border: none; /* Remove a borda dos elementos */
  font-family: "Courier New", Courier, monospace; /* Define a fonte dos elementos */
  width: 100%; /* Define a largura dos elementos como 100% do container pai */
  font-size: 16px; /* Define o tamanho da fonte */
}

/* Estiliza os botões */
button {
  margin-top: 20px; /* Adiciona margem superior aos botões */
  cursor: pointer; /* Define o cursor como pointer ao passar sobre o botão */
  background-color: #0FF; /* Define a cor de fundo do botão para um tom azulado */
  color: black; /* Define a cor do texto do botão como preto */
  transition: background-color 0.3s ease; /* Adiciona uma transição suave à mudança de cor do fundo */
}

/* Estiliza o botão ao passar o mouse */
button:hover {
  background-color: #0CC; /* Muda a cor de fundo do botão ao passar o mouse */
}

/* Estiliza o texto do resultado */
#resultado {
  font-family: "Courier New", Courier, monospace; /* Define a fonte do texto */
  font-size: 16px; /* Define o tamanho da fonte */
  color: #0FF; /* Define a cor do texto para um tom azulado */
  margin-top: 10px; /* Adiciona margem superior */
}

/* Estiliza o rodapé */
footer {
  text-align: center; /* Centraliza o texto no rodapé */
  padding: 20px; /* Adiciona padding ao redor do rodapé */
  background-color: rgba(0, 0, 0, 0.8); /* Define uma cor de fundo preta com opacidade */
  color: #f1f1f1; /* Define a cor do texto do rodapé */
  border-top: 1px solid #0FF; /* Adiciona uma borda superior ao rodapé */
  margin-top: 20px; /* Adiciona margem superior */
  border-radius: 0 0 10px 10px; /* Arredonda os cantos inferiores do rodapé */
  z-index: 2; /* Garante que o rodapé fique acima do canvas */
  position: relative; /* Define a posição relativa */
}

/* Estiliza os links sociais */
.social-links {
  margin-bottom: 10px; /* Adiciona margem inferior */
}

.social-links a {
  margin: 0 10px; /* Adiciona margem horizontal aos links */
}

.social-links img {
  filter: invert(0.7); /* Inverte parcialmente as cores das imagens */
  width: 30px; /* Define a largura das imagens */
}

/* Estiliza a logo */
.logolba {
  filter: invert(0.7); /* Inverte parcialmente as cores da imagem */
  width: 150px; /* Define a largura da imagem */
  margin-top: 6px; /* Adiciona margem superior */
  margin-bottom: 23px;
}

/* Estiliza para telas menores */
@media screen and (max-width: 768px) {
  .matrix-content {
    max-width: 90%; /* Define a largura máxima do container para 90% da tela */
  }
}

/* Estiliza para telas muito pequenas */
@media screen and (max-width: 480px) {
  h1 {
    font-size: 24px; /* Define o tamanho da fonte do título */
  }

  .input-group, .output-group {
    flex-direction: column; /* Define a direção do flexbox como coluna */
  }

  button {
    margin-top: 15px; /* Adiciona margem superior aos botões */
  }

  .logolba {
    width: 120px; /* Define a largura da logo */
  }

  .social-links img {
    width: 25px; /* Define a largura das imagens sociais */
  }
}

/* Animação para o efeito de chuva */
@keyframes rain {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

/* Estiliza as gotas de chuva */
.rain-drop {
  position: absolute; /* Define a posição absoluta das gotas */
  top: -100%;
  width: 10px; /* Define a largura das gotas */
  animation: rain linear infinite; /* Aplica a animação de chuva */
  color: rgba(0, 255, 255, 0.8); /* Define a cor das gotas para um tom azulado */
  font-family: "Courier New", Courier, monospace; /* Define a fonte das gotas */
}

/* Define a duração da animação das gotas ímpares */
.rain-drop:nth-child(odd) {
  animation-duration: 2s;
}

/* Define a duração da animação das gotas pares */
.rain-drop:nth-child(even) {
  animation-duration: 3s;
}

/* Adiciona conteúdo às gotas antes da animação */
.rain-drop::before {
  content: '0';
  display: block;
}

/* Adiciona conteúdo às gotas após a animação */
.rain-drop::after {
  content: '1';
  display: block;
}
